<h1><%= t('categories.index.title') %></h1>

<% if policy(Category).new? %>
  <%= link_to t('categories.index.new_category'), new_category_path, class: "btn btn-primary mb-3" %>
<% end %>

<ul class="list-group">
  <% @categories.each do |category| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= link_to (I18n.locale == :bn ? category.name_bn : category.name_en), category_path(category), class: "text-decoration-none" %>
      
      <% if policy(category).edit? %>
        <div>
          <%= link_to t('categories.edit'), edit_category_path(category), class: "btn btn-sm btn-warning" %>
          <%= link_to t('categories.delete'), category_path(category),
                method: :delete,
                data: { confirm: t('categories.confirm_delete') },
                class: "btn btn-sm btn-danger" %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
